# Instalando Mysql Connector

In [6]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=1e38221b0972d4f5ac69e6311d01e75d5226aec5b784ec0f131f72bd111d2c53
  Stored in directory: c:\users\felipe\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

# Conectando ao DB

In [14]:
import mysql.connector
import pandas as pd

In [2]:
my_db = mysql.connector.connect(host='localhost',
                        user="root",
                        password="123456")

In [4]:
# Abrindo o workbench
querys = my_db.cursor()

# Criando DataBases

In [5]:
querys.execute("CREATE DATABASE bancoteste")

In [6]:
querys.execute('SHOW DATABASES')

In [7]:
for x in querys:
    print(x)

('bancoteste',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Conectando Para Criar Querys

In [12]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456",
  database="bancoteste"
)

mycursor = mydb.cursor()

## Lendo tabelas do Excel e criando Tabelas Mysql

In [15]:
tabela_clientes = pd.read_excel('C:/Users/felipe/Desktop/Analise De Dados/Dados/Tabela Clientes.xlsx')

In [16]:
tabela_clientes.head(1)

,Código do Cliente,Primeiro Nome,Sobrenome,email,Gênero,Num Filhos,Data de Nascimento
0,1,Adore,Crush,adore10@gmail.com,F,0,1976-01-13

In [17]:
mycursor.execute(f"CREATE TABLE Clientes (\
                 codigo INT  PRIMARY KEY NOT NULL,\
                 primeiro_nome VARCHAR(255) NOT NULL,\
                 sobrenome VARCHAR(255) NOT NULL,\
                 email VARCHAR(255) NOT NULL,\
                 genero VARCHAR(1) NOT NULL,\
                 num_filhos INT NOT NULL,\
                 data_de_nascimento DATE\
                 )")

In [18]:
tabela_produtos = pd.read_excel('C:/Users/felipe/Desktop/Analise De Dados/Dados/Tabela Produtos.xlsx')

In [19]:
tabela_produtos.head(1)

   SKU    Tipo    Marca  Custo de compra  Valor de venda    Cor
0    1  Camisa  Reserva               59             143  Verde

In [20]:
mycursor.execute(f"CREATE TABLE Produtos (\
                 sku INT  PRIMARY KEY NOT NULL,\
                 tipo VARCHAR(255) NOT NULL,\
                 marca VARCHAR(255) NOT NULL,\
                 custo_de_compra FLOAT NOT NULL,\
                 valor_de_venda FLOAT NOT NULL,\
                 cor VARCHAR(20)\
                 )")

In [21]:
tabela_vendas = pd.read_excel('C:/Users/felipe/Desktop/Analise De Dados/Dados/Tabela Vendas.xlsx')

In [22]:
tabela_vendas.sample(1)

     SKU        Dia      Loja  Cliente  Quantidade Forma de Pagamento
194   29 2018-07-14  Curitiba       87           5  Cartão de Crédito

In [23]:
mycursor.execute(f"CREATE TABLE Vendas (\
                 sku INT NOT NULL,\
                 dia DATE NOT NULL,\
                 loja VARCHAR(255) NOT NULL,\
                 cliente INT NOT NULL,\
                 quantidade INT NOT NULL,\
                 forma_de_pagamento VARCHAR(20)\
                 )")

In [24]:
mycursor.execute('SHOW TABLES')

In [25]:
for x in mycursor:
    print(x)

('clientes',)
('produtos',)
('vendas',)

## Inserindo os dados do Excel na tabela Mysql

In [26]:
# Criando tuplas de clientes
lista_clientes_values = []
for i in tabela_clientes.iterrows():
    lista_clientes_values.append((i[1][0],i[1][1],i[1][2],i[1][3],i[1][4],i[1][5],i[1][6]))

In [27]:
sql = "INSERT INTO clientes (codigo, primeiro_nome, sobrenome, email, genero, num_filhos, data_de_nascimento) \
VALUES (%s, %s, %s, %s, %s, %s, %s)"

mycursor.executemany(sql,lista_clientes_values) # EXECUTA VARIAS TUPLAS

mydb.commit()

In [28]:
lista_produtos_values = []
for i in tabela_produtos.iterrows():
    lista_produtos_values.append((i[1][0],i[1][1],i[1][2],i[1][3],i[1][4],i[1][5]))

In [29]:
sql = "INSERT INTO Produtos (sku, tipo, marca, custo_de_compra, valor_de_venda, cor) \
VALUES (%s, %s, %s, %s, %s, %s)"

mycursor.executemany(sql,lista_produtos_values) # EXECUTA VARIAS TUPLAS

mydb.commit()

In [30]:
lista_vendas_values = []
for i in tabela_vendas.iterrows():
    lista_vendas_values.append((i[1][0],i[1][1],i[1][2],i[1][3],i[1][4],i[1][5]))

In [31]:
sql = "INSERT INTO Vendas (sku, dia, loja, cliente, quantidade, forma_de_pagamento) \
VALUES (%s, %s, %s, %s, %s, %s)"

mycursor.executemany(sql,lista_vendas_values) # EXECUTA VARIAS TUPLAS

mydb.commit()

## Lendo dados das tabelas

In [32]:
mycursor.execute('SELECT * FROM vendas')
for i in mycursor:
    print(i)

(20, datetime.date(2018, 1, 1), 'Brasília', 63, 5, 'Cartão de Crédito')
(12, datetime.date(2018, 1, 2), 'Guarulhos', 37, 1, 'Dinheiro')
(19, datetime.date(2018, 1, 1), 'Brasília', 62, 1, 'Dinheiro')
(4, datetime.date(2018, 1, 4), 'Brasília', 63, 2, 'Cartão de Crédito')
(9, datetime.date(2018, 1, 1), 'Curitiba', 40, 1, 'Cartão de Débito')
(11, datetime.date(2018, 1, 6), 'Curitiba', 2, 1, 'Dinheiro')
(12, datetime.date(2018, 1, 7), 'Brasília', 66, 5, 'Boleto')
(16, datetime.date(2018, 1, 8), 'Curitiba', 19, 5, 'Dinheiro')
(6, datetime.date(2018, 1, 9), 'Brasília', 52, 2, 'Cartão de Crédito')
(22, datetime.date(2018, 1, 10), 'Belo Horizonte', 62, 2, 'Dinheiro')
(20, datetime.date(2018, 1, 11), 'Rio Grande do Sul', 47, 1, 'Boleto')
(7, datetime.date(2018, 1, 12), 'Brasília', 69, 1, 'Cartão de Débito')
(28, datetime.date(2018, 1, 13), 'Rio Grande do Sul', 62, 1, 'Cartão de Crédito')
(22, datetime.date(2018, 1, 14), 'Curitiba', 67, 1, 'Cartão de Crédito')
(11, datetime.date(2018, 1, 14), 'Nova Iguaçu', 30, 1, 'Boleto')
(25, datetime.date(2018, 1, 14), 'Belo Horizonte', 36, 1, 'Boleto')
(29, datetime.date(2018, 1, 14), 'Brasília', 83, 3, 'Dinheiro')
(15, datetime.date(2018, 1, 14), 'Rio Grande do Sul', 32, 1, 'Cartão de Débito')
(5, datetime.date(2018, 1, 14), 'São Paulo', 37, 1, 'Dinheiro')
(2, datetime.date(2018, 1, 14), 'Curitiba', 45, 1, 'Dinheiro')
(23, datetime.date(2018, 1, 14), 'Curitiba', 97, 5, 'Cartão de Crédito')
(15, datetime.date(2018, 1, 14), 'Curitiba', 5, 1, 'Cartão de Crédito')
(24, datetime.date(2018, 1, 14), 'Rio de Janeiro', 47, 1, 'Cartão de Débito')
(21, datetime.date(2018, 1, 14), 'Rio Grande do Sul', 50, 3, 'Dinheiro')
(10, datetime.date(2018, 1, 14), 'Brasília', 5, 1, 'Cartão de Débito')
(4, datetime.date(2018, 1, 14), 'Belo Horizonte', 100, 1, 'Boleto')
(2, datetime.date(2018, 1, 27), 'Brasília', 17, 5, 'Cartão de Débito')
(4, datetime.date(2018, 1, 28), 'Rio de Janeiro', 9, 3, 'Cartão de Crédito')
(9, datetime.date(2018, 1, 29), 'Nova Iguaçu', 25, 3, 'Cartão de Crédito')
(14, datetime.date(2018, 1, 30), 'Guarulhos', 74, 4, 'Dinheiro')
(25, datetime.date(2018, 1, 31), 'São Paulo', 13, 1, 'Dinheiro')
(14, datetime.date(2018, 2, 1), 'Curitiba', 92, 1, 'Cartão de Crédito')
(6, datetime.date(2018, 2, 2), 'Guarulhos', 84, 1, 'Dinheiro')
(27, datetime.date(2018, 2, 2), 'Nova Iguaçu', 66, 3, 'Cartão de Crédito')
(30, datetime.date(2018, 2, 2), 'Curitiba', 24, 3, 'Cartão de Débito')
(22, datetime.date(2018, 2, 2), 'Brasília', 28, 2, 'Cartão de Crédito')
(4, datetime.date(2018, 2, 2), 'Nova Iguaçu', 2, 2, 'Boleto')
(16, datetime.date(2018, 2, 2), 'Rio Grande do Sul', 66, 1, 'Cartão de Crédito')
(28, datetime.date(2018, 2, 2), 'São Paulo', 97, 4, 'Boleto')
(11, datetime.date(2018, 2, 2), 'São Paulo', 51, 1, 'Dinheiro')
(24, datetime.date(2018, 2, 2), 'Guarulhos', 99, 1, 'Cartão de Débito')
(7, datetime.date(2018, 2, 2), 'Curitiba', 48, 3, 'Dinheiro')
(9, datetime.date(2018, 2, 2), 'Belo Horizonte', 80, 1, 'Cartão de Débito')
(2, datetime.date(2018, 2, 2), 'Belo Horizonte', 40, 3, 'Boleto')
(12, datetime.date(2018, 2, 2), 'Rio de Janeiro', 68, 1, 'Cartão de Crédito')
(2, datetime.date(2018, 2, 2), 'Nova Iguaçu', 27, 4, 'Cartão de Débito')
(7, datetime.date(2018, 2, 2), 'Rio de Janeiro', 21, 1, 'Boleto')
(1, datetime.date(2018, 2, 17), 'Rio Grande do Sul', 24, 1, 'Dinheiro')
(28, datetime.date(2018, 2, 18), 'Brasília', 65, 4, 'Cartão de Crédito')
(18, datetime.date(2018, 2, 19), 'Nova Iguaçu', 52, 1, 'Boleto')
(4, datetime.date(2018, 2, 20), 'Rio de Janeiro', 92, 1, 'Boleto')
(3, datetime.date(2018, 2, 21), 'Rio de Janeiro', 55, 5, 'Cartão de Crédito')
(7, datetime.date(2018, 2, 22), 'Rio de Janeiro', 31, 1, 'Dinheiro')
(26, datetime.date(2018, 2, 23), 'São Paulo', 9, 1, 'Cartão de Débito')
(3, datetime.date(2018, 2, 24), 'Brasília', 55, 1, 'Dinheiro')
(20, datetime.date(2018, 2, 25), 'Belo Horizonte', 40, 5, 'Dinheiro')
(11, datetime.date(2018, 2, 26), 'Brasília', 41, 2, 'Boleto')
(19, datetime.date(2018, 2, 27), 'Belo Horizonte', 13, 5, 'Boleto')
(26, datetime.date(2018, 2, 28), 'Nova Iguaçu', 83, 1, 'Cartão de Crédito')
(25, datetime.date(2018, 3, 1), 'Brasília', 26, 1, 'Cartão de Crédito')
(21, datetime.date(2018, 3, 2), 'Brasília', 16, 1, 'Boleto')
(9, datetime.date(2018, 3, 3), 'São Paulo', 67, 1, 'Cartão de Crédito')
(10, datetime.date(2018, 3, 4), 'São Paulo', 25, 1, 'Cartão de Crédito')
(14, datetime.date(2018, 3, 5), 'Guarulhos', 98, 2, 'Dinheiro')
(5, datetime.date(2018, 3, 6), 'Guarulhos', 92, 1, 'Cartão de Débito')
(18, datetime.date(2018, 3, 7), 'Curitiba', 82, 1, 'Dinheiro')
(2, datetime.date(2018, 3, 8), 'Rio Grande do Sul', 32, 1, 'Cartão de Crédito')
(27, datetime.date(2018, 3, 9), 'Curitiba', 46, 5, 'Cartão de Crédito')
(21, datetime.date(2018, 3, 10), 'Belo Horizonte', 89, 1, 'Dinheiro')
(9, datetime.date(2018, 3, 11), 'Belo Horizonte', 28, 4, 'Boleto')
(23, datetime.date(2018, 3, 12), 'São Paulo', 31, 4, 'Dinheiro')
(30, datetime.date(2018, 3, 13), 'Guarulhos', 90, 4, 'Cartão de Débito')
(11, datetime.date(2018, 3, 14), 'Nova Iguaçu', 66, 1, 'Cartão de Crédito')
(28, datetime.date(2018, 3, 15), 'Rio de Janeiro', 96, 4, 'Cartão de Crédito')
(7, datetime.date(2018, 3, 16), 'Curitiba', 55, 3, 'Boleto')
(24, datetime.date(2018, 3, 17), 'Curitiba', 39, 1, 'Boleto')
(26, datetime.date(2018, 3, 18), 'Rio de Janeiro', 64, 1, 'Cartão de Débito')
(17, datetime.date(2018, 3, 19), 'Brasília', 12, 2, 'Boleto')
(24, datetime.date(2018, 3, 20), 'Rio de Janeiro', 79, 5, 'Cartão de Crédito')
(25, datetime.date(2018, 3, 21), 'Brasília', 5, 1, 'Cartão de Crédito')
(11, datetime.date(2018, 3, 22), 'Belo Horizonte', 49, 1, 'Cartão de Crédito')
(27, datetime.date(2018, 3, 23), 'Rio Grande do Sul', 54, 3, 'Dinheiro')
(29, datetime.date(2018, 3, 24), 'Brasília', 45, 2, 'Boleto')
(7, datetime.date(2018, 3, 25), 'Belo Horizonte', 29, 1, 'Dinheiro')
(6, datetime.date(2018, 3, 26), 'Brasília', 46, 1, 'Cartão de Crédito')
(8, datetime.date(2018, 3, 27), 'Rio Grande do Sul', 28, 3, 'Boleto')
(2, datetime.date(2018, 3, 28), 'Nova Iguaçu', 73, 1, 'Cartão de Crédito')
(5, datetime.date(2018, 3, 29), 'Brasília', 34, 1, 'Cartão de Crédito')
(21, datetime.date(2018, 3, 30), 'Curitiba', 6, 5, 'Dinheiro')
(20, datetime.date(2018, 3, 31), 'Belo Horizonte', 16, 1, 'Boleto')
(8, datetime.date(2018, 4, 1), 'Rio de Janeiro', 7, 5, 'Cartão de Crédito')
(18, datetime.date(2018, 4, 2), 'Belo Horizonte', 91, 1, 'Cartão de Débito')
(16, datetime.date(2018, 4, 3), 'São Paulo', 80, 5, 'Boleto')
(13, datetime.date(2018, 4, 4), 'Nova Iguaçu', 80, 5, 'Cartão de Crédito')
(13, datetime.date(2018, 4, 5), 'Rio Grande do Sul', 16, 3, 'Boleto')
(19, datetime.date(2018, 4, 6), 'Rio de Janeiro', 71, 2, 'Cartão de Crédito')
(7, datetime.date(2018, 4, 7), 'Belo Horizonte', 46, 1, 'Cartão de Crédito')
(3, datetime.date(2018, 4, 8), 'Nova Iguaçu', 8, 4, 'Cartão de Crédito')
(12, datetime.date(2018, 4, 9), 'Rio de Janeiro', 10, 5, 'Cartão de Crédito')
(4, datetime.date(2018, 4, 7), 'Nova Iguaçu', 39, 3, 'Boleto')
(15, datetime.date(2018, 4, 11), 'Nova Iguaçu', 38, 1, 'Boleto')
(14, datetime.date(2018, 4, 12), 'São Paulo', 86, 1, 'Dinheiro')
(12, datetime.date(2018, 4, 13), 'Belo Horizonte', 66, 1, 'Dinheiro')
(6, datetime.date(2018, 4, 14), 'Rio Grande do Sul', 40, 5, 'Cartão de Débito')
(18, datetime.date(2018, 4, 15), 'São Paulo', 51, 3, 'Cartão de Crédito')
(14, datetime.date(2018, 4, 16), 'Nova Iguaçu', 99, 3, 'Cartão de Crédito')
(22, datetime.date(2018, 4, 17), 'Belo Horizonte', 24, 3, 'Cartão de Débito')
(15, datetime.date(2018, 4, 18), 'São Paulo', 54, 5, 'Cartão de Crédito')
(4, datetime.date(2018, 4, 19), 'Rio de Janeiro', 9, 1, 'Cartão de Débito')
(17, datetime.date(2018, 4, 20), 'Nova Iguaçu', 12, 1, 'Cartão de Crédito')
(29, datetime.date(2018, 4, 21), 'Nova Iguaçu', 47, 1, 'Cartão de Débito')
(3, datetime.date(2018, 4, 22), 'Belo Horizonte', 51, 1, 'Cartão de Débito')
(22, datetime.date(2018, 4, 23), 'Brasília', 62, 1, 'Boleto')
(28, datetime.date(2018, 4, 24), 'Belo Horizonte', 68, 3, 'Boleto')
(14, datetime.date(2018, 4, 25), 'Rio Grande do Sul', 10, 5, 'Cartão de Crédito')
(8, datetime.date(2018, 4, 26), 'São Paulo', 35, 1, 'Boleto')
(21, datetime.date(2018, 4, 27), 'Curitiba', 90, 1, 'Cartão de Débito')
(25, datetime.date(2018, 4, 28), 'Nova Iguaçu', 4, 1, 'Cartão de Crédito')
(20, datetime.date(2018, 4, 29), 'São Paulo', 70, 1, 'Dinheiro')
(5, datetime.date(2018, 4, 30), 'Guarulhos', 71, 1, 'Dinheiro')
(22, datetime.date(2018, 5, 1), 'São Paulo', 72, 3, 'Boleto')
(12, datetime.date(2018, 5, 2), 'Brasília', 28, 2, 'Cartão de Débito')
(7, datetime.date(2018, 5, 3), 'Guarulhos', 33, 5, 'Cartão de Débito')
(10, datetime.date(2018, 5, 4), 'São Paulo', 77, 1, 'Cartão de Crédito')
(28, datetime.date(2018, 5, 5), 'Curitiba', 10, 3, 'Cartão de Crédito')
(1, datetime.date(2018, 5, 5), 'Rio Grande do Sul', 93, 3, 'Cartão de Crédito')
(1, datetime.date(2018, 5, 5), 'Rio de Janeiro', 18, 3, 'Cartão de Crédito')
(16, datetime.date(2018, 5, 5), 'Guarulhos', 73, 4, 'Cartão de Crédito')
(14, datetime.date(2018, 5, 5), 'Curitiba', 76, 2, 'Cartão de Débito')
(11, datetime.date(2018, 5, 5), 'Guarulhos', 55, 1, 'Cartão de Débito')
(4, datetime.date(2018, 5, 5), 'Brasília', 18, 1, 'Cartão de Crédito')
(23, datetime.date(2018, 5, 5), 'São Paulo', 57, 4, 'Cartão de Crédito')
(28, datetime.date(2018, 5, 5), 'Belo Horizonte', 10, 1, 'Cartão de Crédito')
(21, datetime.date(2018, 5, 5), 'Belo Horizonte', 79, 1, 'Cartão de Débito')
(15, datetime.date(2018, 5, 5), 'Guarulhos', 71, 1, 'Dinheiro')
(11, datetime.date(2018, 5, 5), 'São Paulo', 33, 1, 'Dinheiro')
(30, datetime.date(2018, 5, 5), 'Rio de Janeiro', 50, 1, 'Cartão de Crédito')
(2, datetime.date(2018, 5, 5), 'Rio Grande do Sul', 49, 5, 'Dinheiro')
(3, datetime.date(2018, 5, 5), 'Belo Horizonte', 69, 1, 'Boleto')
(3, datetime.date(2018, 5, 5), 'Guarulhos', 52, 1, 'Cartão de Débito')
(26, datetime.date(2018, 5, 5), 'Nova Iguaçu', 67, 1, 'Dinheiro')
(20, datetime.date(2018, 5, 5), 'Nova Iguaçu', 95, 1, 'Dinheiro')
(22, datetime.date(2018, 5, 5), 'Nova Iguaçu', 24, 1, 'Cartão de Crédito')
(13, datetime.date(2018, 5, 5), 'Curitiba', 97, 1, 'Dinheiro')
(29, datetime.date(2018, 5, 5), 'Brasília', 77, 5, 'Cartão de Débito')
(16, datetime.date(2018, 5, 5), 'Belo Horizonte', 58, 1, 'Boleto')
(11, datetime.date(2018, 5, 5), 'Nova Iguaçu', 3, 4, 'Cartão de Crédito')
(9, datetime.date(2018, 5, 5), 'São Paulo', 12, 1, 'Cartão de Crédito')
(20, datetime.date(2018, 5, 5), 'São Paulo', 16, 1, 'Cartão de Crédito')
(8, datetime.date(2018, 5, 5), 'Brasília', 51, 1, 'Cartão de Crédito')
(14, datetime.date(2018, 5, 5), 'Belo Horizonte', 25, 1, 'Boleto')
(6, datetime.date(2018, 5, 5), 'Nova Iguaçu', 90, 5, 'Boleto')
(8, datetime.date(2018, 5, 5), 'Guarulhos', 10, 1, 'Cartão de Crédito')
(16, datetime.date(2018, 5, 5), 'Nova Iguaçu', 86, 1, 'Cartão de Crédito')
(24, datetime.date(2018, 6, 4), 'São Paulo', 34, 3, 'Boleto')
(19, datetime.date(2018, 6, 5), 'Belo Horizonte', 18, 1, 'Boleto')
(2, datetime.date(2018, 6, 6), 'Rio de Janeiro', 52, 4, 'Cartão de Crédito')
(29, datetime.date(2018, 6, 7), 'Brasília', 2, 1, 'Dinheiro')
(29, datetime.date(2018, 6, 8), 'Curitiba', 31, 5, 'Cartão de Débito')
(26, datetime.date(2018, 6, 9), 'São Paulo', 20, 3, 'Dinheiro')
(8, datetime.date(2018, 6, 10), 'Rio de Janeiro', 61, 3, 'Dinheiro')
(21, datetime.date(2018, 6, 11), 'Guarulhos', 20, 3, 'Dinheiro')
(13, datetime.date(2018, 6, 12), 'Belo Horizonte', 48, 1, 'Cartão de Crédito')
(3, datetime.date(2018, 6, 13), 'Rio Grande do Sul', 2, 1, 'Boleto')
(21, datetime.date(2018, 6, 14), 'Nova Iguaçu', 95, 1, 'Dinheiro')
(30, datetime.date(2018, 6, 15), 'Curitiba', 64, 1, 'Cartão de Débito')
(13, datetime.date(2018, 6, 16), 'Rio Grande do Sul', 28, 4, 'Boleto')
(3, datetime.date(2018, 6, 17), 'Belo Horizonte', 16, 1, 'Cartão de Crédito')
(25, datetime.date(2018, 6, 18), 'Brasília', 36, 3, 'Boleto')
(24, datetime.date(2018, 6, 19), 'Curitiba', 3, 1, 'Dinheiro')
(27, datetime.date(2018, 6, 20), 'São Paulo', 68, 1, 'Dinheiro')
(12, datetime.date(2018, 6, 21), 'Nova Iguaçu', 24, 1, 'Cartão de Crédito')
(28, datetime.date(2018, 6, 22), 'Brasília', 100, 1, 'Dinheiro')
(17, datetime.date(2018, 6, 23), 'Nova Iguaçu', 54, 1, 'Boleto')
(21, datetime.date(2018, 6, 24), 'Belo Horizonte', 38, 2, 'Cartão de Crédito')
(12, datetime.date(2018, 6, 25), 'Nova Iguaçu', 23, 1, 'Dinheiro')
(19, datetime.date(2018, 6, 26), 'Curitiba', 69, 1, 'Cartão de Débito')
(18, datetime.date(2018, 6, 7), 'Guarulhos', 78, 1, 'Cartão de Crédito')
(8, datetime.date(2018, 6, 8), 'São Paulo', 31, 1, 'Cartão de Débito')
(29, datetime.date(2018, 6, 9), 'Rio de Janeiro', 59, 1, 'Cartão de Crédito')
(23, datetime.date(2018, 6, 10), 'Brasília', 77, 1, 'Cartão de Débito')
(6, datetime.date(2018, 6, 11), 'Guarulhos', 8, 3, 'Dinheiro')
(21, datetime.date(2018, 6, 12), 'Guarulhos', 31, 3, 'Dinheiro')
(8, datetime.date(2018, 6, 13), 'Brasília', 90, 1, 'Cartão de Débito')
(9, datetime.date(2018, 6, 14), 'Curitiba', 57, 1, 'Cartão de Débito')
(23, datetime.date(2018, 6, 15), 'Rio Grande do Sul', 62, 5, 'Cartão de Crédito')
(12, datetime.date(2018, 6, 16), 'Curitiba', 28, 1, 'Cartão de Crédito')
(29, datetime.date(2018, 6, 17), 'Guarulhos', 17, 3, 'Cartão de Crédito')
(22, datetime.date(2018, 6, 18), 'Nova Iguaçu', 14, 4, 'Dinheiro')
(12, datetime.date(2018, 6, 19), 'Brasília', 82, 2, 'Boleto')
(27, datetime.date(2018, 7, 10), 'Rio Grande do Sul', 84, 1, 'Cartão de Crédito')
(30, datetime.date(2018, 7, 11), 'Nova Iguaçu', 65, 1, 'Cartão de Crédito')
(10, datetime.date(2018, 7, 12), 'Guarulhos', 97, 1, 'Dinheiro')
(15, datetime.date(2018, 7, 13), 'Curitiba', 100, 1, 'Boleto')
(29, datetime.date(2018, 7, 14), 'Curitiba', 87, 5, 'Cartão de Crédito')
(16, datetime.date(2018, 7, 15), 'Belo Horizonte', 38, 5, 'Dinheiro')
(18, datetime.date(2018, 7, 16), 'Rio de Janeiro', 11, 1, 'Cartão de Crédito')
(14, datetime.date(2018, 7, 16), 'Nova Iguaçu', 52, 1, 'Cartão de Crédito')
(26, datetime.date(2018, 7, 16), 'Nova Iguaçu', 75, 1, 'Cartão de Crédito')
(28, datetime.date(2018, 7, 16), 'Belo Horizonte', 94, 3, 'Cartão de Crédito')
(30, datetime.date(2018, 7, 16), 'Rio de Janeiro', 2, 1, 'Cartão de Crédito')
(3, datetime.date(2018, 7, 16), 'Curitiba', 53, 1, 'Cartão de Crédito')
(8, datetime.date(2018, 7, 16), 'Guarulhos', 33, 1, 'Cartão de Crédito')
(6, datetime.date(2018, 7, 16), 'Rio Grande do Sul', 44, 4, 'Cartão de Crédito')
(23, datetime.date(2018, 7, 16), 'Nova Iguaçu', 66, 5, 'Boleto')
(21, datetime.date(2018, 7, 16), 'Rio de Janeiro', 18, 5, 'Dinheiro')
(9, datetime.date(2018, 7, 16), 'Brasília', 43, 5, 'Dinheiro')
(14, datetime.date(2018, 7, 16), 'Rio Grande do Sul', 65, 5, 'Cartão de Crédito')
(26, datetime.date(2018, 7, 16), 'Brasília', 87, 1, 'Cartão de Crédito')
(17, datetime.date(2018, 7, 16), 'Belo Horizonte', 34, 5, 'Cartão de Crédito')
(10, datetime.date(2018, 7, 16), 'Belo Horizonte', 40, 4, 'Dinheiro')
(19, datetime.date(2018, 7, 16), 'Rio Grande do Sul', 56, 1, 'Cartão de Crédito')
(15, datetime.date(2018, 7, 16), 'Brasília', 88, 4, 'Cartão de Crédito')
(11, datetime.date(2018, 7, 16), 'Nova Iguaçu', 67, 1, 'Cartão de Débito')
(25, datetime.date(2018, 7, 16), 'Guarulhos', 93, 1, 'Cartão de Crédito')
(5, datetime.date(2018, 7, 16), 'Curitiba', 79, 3, 'Cartão de Crédito')
(19, datetime.date(2018, 7, 16), 'Nova Iguaçu', 4, 1, 'Cartão de Débito')
(2, datetime.date(2018, 8, 6), 'Brasília', 53, 1, 'Boleto')
(14, datetime.date(2018, 8, 7), 'Nova Iguaçu', 67, 1, 'Cartão de Crédito')
(3, datetime.date(2018, 8, 8), 'Belo Horizonte', 79, 1, 'Cartão de Débito')
(11, datetime.date(2018, 8, 9), 'Guarulhos', 81, 1, 'Cartão de Crédito')
(25, datetime.date(2018, 8, 10), 'Brasília', 65, 1, 'Cartão de Débito')
(2, datetime.date(2018, 8, 11), 'São Paulo', 86, 1, 'Boleto')
(3, datetime.date(2018, 8, 11), 'Brasília', 52, 1, 'Dinheiro')
(12, datetime.date(2018, 8, 11), 'Nova Iguaçu', 95, 1, 'Dinheiro')
(3, datetime.date(2018, 8, 11), 'Curitiba', 9, 4, 'Cartão de Crédito')
(12, datetime.date(2018, 8, 11), 'Nova Iguaçu', 24, 2, 'Cartão de Débito')
(8, datetime.date(2018, 8, 11), 'Nova Iguaçu', 26, 1, 'Cartão de Crédito')
(5, datetime.date(2018, 8, 11), 'São Paulo', 57, 1, 'Cartão de Débito')
(18, datetime.date(2018, 8, 11), 'Curitiba', 68, 3, 'Cartão de Débito')
(27, datetime.date(2018, 8, 11), 'São Paulo', 45, 4, 'Cartão de Crédito')
(3, datetime.date(2018, 8, 11), 'Rio Grande do Sul', 53, 2, 'Dinheiro')
(29, datetime.date(2018, 8, 11), 'Brasília', 36, 2, 'Dinheiro')
(29, datetime.date(2018, 8, 11), 'Brasília', 73, 1, 'Boleto')
(16, datetime.date(2018, 8, 11), 'Rio de Janeiro', 55, 1, 'Boleto')
(17, datetime.date(2018, 8, 11), 'Nova Iguaçu', 78, 1, 'Dinheiro')
(12, datetime.date(2018, 8, 11), 'Belo Horizonte', 3, 3, 'Boleto')
(9, datetime.date(2018, 8, 11), 'Rio Grande do Sul', 45, 2, 'Cartão de Crédito')
(3, datetime.date(2018, 8, 11), 'Belo Horizonte', 64, 1, 'Cartão de Crédito')
(28, datetime.date(2018, 8, 11), 'Guarulhos', 39, 1, 'Cartão de Débito')
(6, datetime.date(2018, 8, 11), 'Curitiba', 73, 3, 'Cartão de Crédito')
(1, datetime.date(2018, 8, 11), 'Belo Horizonte', 48, 1, 'Cartão de Crédito')
(14, datetime.date(2018, 8, 11), 'São Paulo', 9, 3, 'Cartão de Débito')
(27, datetime.date(2018, 8, 11), 'São Paulo', 71, 4, 'Cartão de Crédito')
(29, datetime.date(2018, 8, 11), 'Rio de Janeiro', 97, 1, 'Boleto')
(6, datetime.date(2018, 8, 11), 'Belo Horizonte', 41, 1, 'Cartão de Crédito')
(12, datetime.date(2018, 8, 11), 'Nova Iguaçu', 60, 3, 'Boleto')
(26, datetime.date(2018, 8, 11), 'Brasília', 8, 2, 'Cartão de Crédito')
(9, datetime.date(2018, 8, 11), 'Belo Horizonte', 44, 1, 'Dinheiro')
(11, datetime.date(2018, 9, 7), 'Rio Grande do Sul', 95, 1, 'Cartão de Crédito')
(23, datetime.date(2018, 9, 8), 'São Paulo', 52, 5, 'Cartão de Débito')
(18, datetime.date(2018, 9, 9), 'Belo Horizonte', 91, 5, 'Dinheiro')
(11, datetime.date(2018, 9, 10), 'Brasília', 32, 1, 'Cartão de Crédito')
(24, datetime.date(2018, 9, 11), 'Rio de Janeiro', 93, 1, 'Cartão de Crédito')
(5, datetime.date(2018, 9, 12), 'Brasília', 28, 1, 'Cartão de Crédito')
(29, datetime.date(2018, 9, 13), 'Rio de Janeiro', 8, 1, 'Dinheiro')
(27, datetime.date(2018, 9, 14), 'Nova Iguaçu', 57, 4, 'Cartão de Débito')
(2, datetime.date(2018, 9, 15), 'Rio de Janeiro', 23, 1, 'Dinheiro')
(16, datetime.date(2018, 9, 15), 'Belo Horizonte', 54, 1, 'Cartão de Crédito')
(13, datetime.date(2018, 9, 15), 'Guarulhos', 76, 1, 'Cartão de Crédito')
(22, datetime.date(2018, 9, 15), 'Curitiba', 87, 1, 'Dinheiro')
(17, datetime.date(2018, 9, 15), 'Rio Grande do Sul', 25, 1, 'Dinheiro')
(29, datetime.date(2018, 9, 15), 'Rio Grande do Sul', 11, 5, 'Cartão de Débito')
(12, datetime.date(2018, 9, 15), 'Nova Iguaçu', 21, 1, 'Boleto')
(14, datetime.date(2018, 9, 15), 'Rio Grande do Sul', 91, 1, 'Cartão de Crédito')
(26, datetime.date(2018, 9, 15), 'Curitiba', 83, 5, 'Cartão de Crédito')
(20, datetime.date(2018, 9, 15), 'Brasília', 73, 1, 'Boleto')
(30, datetime.date(2018, 9, 15), 'Brasília', 12, 1, 'Cartão de Crédito')
(26, datetime.date(2018, 9, 15), 'São Paulo', 39, 2, 'Cartão de Crédito')
(23, datetime.date(2018, 9, 15), 'Curitiba', 5, 1, 'Boleto')
(22, datetime.date(2018, 9, 15), 'Rio de Janeiro', 33, 1, 'Dinheiro')
(18, datetime.date(2018, 9, 15), 'São Paulo', 40, 3, 'Boleto')
(12, datetime.date(2018, 9, 15), 'Brasília', 77, 3, 'Boleto')
(28, datetime.date(2018, 9, 15), 'São Paulo', 59, 4, 'Boleto')
(4, datetime.date(2018, 9, 15), 'Curitiba', 57, 1, 'Dinheiro')
(9, datetime.date(2018, 9, 15), 'Rio de Janeiro', 41, 1, 'Cartão de Crédito')
(10, datetime.date(2018, 9, 15), 'Rio Grande do Sul', 35, 3, 'Cartão de Crédito')
(25, datetime.date(2018, 9, 15), 'Belo Horizonte', 73, 4, 'Dinheiro')
(29, datetime.date(2018, 9, 15), 'Rio Grande do Sul', 14, 1, 'Cartão de Débito')
(12, datetime.date(2018, 9, 15), 'Guarulhos', 28, 1, 'Dinheiro')
(10, datetime.date(2018, 9, 15), 'São Paulo', 12, 3, 'Cartão de Crédito')
(15, datetime.date(2018, 9, 15), 'Rio de Janeiro', 81, 1, 'Boleto')

In [33]:
mycursor.execute('SELECT * FROM produtos')
for i in mycursor:
    print(i)

(1, 'Camisa', 'Reserva', 59.0, 143.0, 'Verde')
(2, 'Casaco', 'Reserva', 77.0, 207.0, 'Vermelho')
(3, 'Camiseta', 'Reserva', 72.0, 110.0, 'Laranja')
(4, 'Sandália', 'Reserva', 123.0, 183.0, 'Verde')
(5, 'Boné', 'Reserva', 92.0, 279.0, 'Preto')
(6, 'Meia', 'Reserva', 23.0, 40.0, 'Vermelho')
(7, 'Bota', 'Reserva', 115.0, 267.0, 'Preto')
(8, 'Chinelo', 'Reserva', 62.0, 97.0, 'Laranja')
(9, 'Sapato', 'Reserva', 73.0, 191.0, 'Vermelho')
(10, 'Camisa', 'Hering', 152.0, 220.0, 'Azul')
(11, 'Casaco', 'Hering', 77.0, 154.0, 'Azul')
(12, 'Camiseta', 'Hering', 102.0, 176.0, 'Azul')
(13, 'Sandália', 'Hering', 136.0, 283.0, 'Azul')
(14, 'Boné', 'Hering', 129.0, 281.0, 'Verde')
(15, 'Meia', 'Hering', 12.0, 30.0, 'Preto')
(16, 'Bota', 'Hering', 56.0, 106.0, 'Vermelho')
(17, 'Chinelo', 'Hering', 28.0, 43.0, 'Verde')
(18, 'Sapato', 'Hering', 69.0, 266.0, 'Vermelho')
(19, 'Camisa', 'Osklen', 152.0, 277.0, 'Verde')
(20, 'Casaco', 'Osklen', 22.0, 68.0, 'Preto')
(21, 'Camiseta', 'Osklen', 95.0, 288.0, 'Laranja')
(22, 'Sandália', 'Osklen', 104.0, 273.0, 'Azul')
(23, 'Boné', 'Osklen', 72.0, 108.0, 'Laranja')
(24, 'Meia', 'Osklen', 5.0, 15.0, 'Branco')
(25, 'Bota', 'Osklen', 43.0, 104.0, 'Azul')
(26, 'Chinelo', 'Osklen', 47.0, 75.0, 'Vermelho')
(27, 'Sapato', 'Osklen', 40.0, 95.0, 'Branco')
(28, 'Camisa', 'Reserva', 72.0, 110.0, 'Branco')
(29, 'Camisa', 'Osklen', 102.0, 176.0, 'Branco')
(30, 'Camisa', 'Hering', 95.0, 288.0, 'Branco')

In [34]:
mycursor.execute('SELECT * FROM clientes')
for i in mycursor:
    print(i)

(1, 'Adore', 'Crush', 'adore10@gmail.com', 'F', 0, datetime.date(1976, 1, 13))
(2, 'Pegeen', 'Sanday', 'pegeen2@yahoo.com', 'F', 3, datetime.date(1974, 10, 26))
(3, 'Brooks', 'Prahl', 'brooks4@uol.com', 'M', 2, datetime.date(1978, 9, 18))
(4, 'Bethena', 'Allot', 'bethena1@yahoo.com', 'F', 4, datetime.date(1950, 10, 6))
(5, 'Giordano', 'Minihan', 'giordano9@gmail.com', 'M', 0, datetime.date(1969, 6, 4))
(6, 'Terry', 'Kinge', 'terry9@hotmail.com', 'F', 0, datetime.date(1981, 7, 11))
(7, 'Curtis', 'Hussy', 'curtis9@yahoo.com', 'M', 0, datetime.date(1963, 10, 12))
(8, 'Gilly', 'Firby', 'gilly10@globo.com', 'F', 0, datetime.date(1943, 11, 25))
(9, 'Justina', 'Van Arsdalen', 'justina7@uol.com', 'F', 0, datetime.date(1969, 9, 7))
(10, 'Garvy', 'Ferrarese', 'garvy7@gmail.com', 'M', 0, datetime.date(1994, 7, 28))
(11, 'Bronson', 'Jervoise', 'bronson10@gmail.com', 'M', 0, datetime.date(1989, 9, 10))
(12, 'Nicholas', 'Ciccetti', 'nicholas1@yahoo.com', 'M', 1, datetime.date(1983, 7, 16))
(13, 'Piper', 'McConnel', 'piper8@uol.com', 'F', 0, datetime.date(1957, 11, 8))
(14, 'Loree', 'Kubek', 'loree6@hotmail.com', 'F', 2, datetime.date(1981, 8, 26))
(15, 'Amandie', "O'Towey", 'amandie6@gmail.com', 'F', 3, datetime.date(1947, 4, 8))
(16, 'Clari', 'De Courtney', 'clari10@globo.com', 'F', 0, datetime.date(1969, 12, 31))
(17, 'Colan', 'Shopcott', 'colan1@hotmail.com', 'M', 0, datetime.date(1940, 6, 4))
(18, 'Christyna', 'Granville', 'christyna4@yahoo.com', 'F', 4, datetime.date(1961, 12, 31))
(19, 'Lizbeth', 'Kinkaid', 'lizbeth1@yahoo.com', 'F', 0, datetime.date(1978, 4, 12))
(20, 'Shelley', 'Moorcraft', 'shelley8@gmail.com', 'F', 3, datetime.date(1988, 11, 13))
(21, 'Rowan', 'Utting', 'rowan9@uol.com', 'M', 3, datetime.date(1985, 11, 14))
(22, 'Meade', 'Lickess', 'meade8@uol.com', 'F', 3, datetime.date(1957, 3, 22))
(23, 'Anna', 'Tremontana', 'anna2@uol.com', 'F', 2, datetime.date(1980, 8, 25))
(24, 'Beniamino', 'McCrackem', 'beniamino4@gmail.com', 'M', 0, datetime.date(1947, 5, 8))
(25, 'Steve', 'Clouter', 'steve6@gmail.com', 'M', 0, datetime.date(1971, 10, 29))
(26, 'Reggis', 'Albutt', 'reggis8@gmail.com', 'M', 1, datetime.date(1971, 1, 21))
(27, 'Kip', 'Berggren', 'kip4@hotmail.com', 'F', 4, datetime.date(1983, 1, 28))
(28, 'Fidole', 'Jane', 'fidole5@uol.com', 'M', 4, datetime.date(1962, 6, 9))
(29, 'Sabine', 'Kingwell', 'sabine9@yahoo.com', 'F', 3, datetime.date(1987, 1, 3))
(30, 'Lanna', 'Cholerton', 'lanna5@yahoo.com', 'F', 0, datetime.date(1946, 12, 5))
(31, 'Melodee', 'Gierardi', 'melodee1@globo.com', 'F', 3, datetime.date(1944, 9, 21))
(32, 'Jarad', 'Paeckmeyer', 'jarad2@globo.com', 'M', 0, datetime.date(1986, 1, 3))
(33, 'Donelle', 'Goodsal', 'donelle8@hotmail.com', 'F', 0, datetime.date(1955, 3, 1))
(34, 'Kayle', 'Anthonsen', 'kayle6@hotmail.com', 'F', 0, datetime.date(1963, 5, 10))
(35, 'Derwin', 'Lacroux', 'derwin5@gmail.com', 'M', 0, datetime.date(1987, 9, 10))
(36, 'Niven', 'Scruby', 'niven5@globo.com', 'M', 0, datetime.date(1992, 12, 15))
(37, 'Whittaker', 'Tattershall', 'whittaker7@hotmail.com', 'M', 0, datetime.date(1991, 12, 11))
(38, 'Hamid', 'Fantini', 'hamid9@gmail.com', 'M', 2, datetime.date(1944, 11, 26))
(39, 'Zonnya', 'Dodds', 'zonnya4@uol.com', 'F', 0, datetime.date(1999, 10, 16))
(40, 'Analiese', 'Cracknell', 'analiese10@gmail.com', 'F', 0, datetime.date(1974, 10, 6))
(41, 'Franciskus', 'Adcocks', 'franciskus10@yahoo.com', 'M', 0, datetime.date(1960, 12, 11))
(42, 'Marian', 'Rennles', 'marian6@gmail.com', 'F', 3, datetime.date(1969, 3, 17))
(43, 'Missie', 'Ianne', 'missie2@hotmail.com', 'F', 0, datetime.date(1984, 3, 15))
(44, 'Shandra', 'Brockelsby', 'shandra1@globo.com', 'F', 0, datetime.date(1959, 3, 17))
(45, 'Chloris', 'Hebble', 'chloris10@uol.com', 'F', 3, datetime.date(1978, 10, 23))
(46, 'Jay', 'Gaffey', 'jay5@globo.com', 'M', 0, datetime.date(1972, 8, 18))
(47, 'Teodor', 'Noyce', 'teodor4@hotmail.com', 'M', 0, datetime.date(1959, 12, 28))
(48, 'Audre', 'Spere', 'audre4@globo.com', 'F', 0, datetime.date(1985, 9, 3))
(49, 'Mitzi', 'Diehn', 'mitzi1@globo.com', 'F', 4, datetime.date(1942, 8, 22))
(50, 'Erie', 'Gon', 'erie6@gmail.com', 'M', 0, datetime.date(1975, 7, 18))
(51, 'Oran', 'Christmas', 'oran7@hotmail.com', 'M', 0, datetime.date(1956, 9, 2))
(52, 'Humfrid', 'Zannolli', 'humfrid4@globo.com', 'M', 0, datetime.date(1973, 5, 11))
(53, 'Dominic', 'Celloni', 'dominic10@gmail.com', 'M', 0, datetime.date(1967, 7, 4))
(54, 'Theodor', 'Melmoth', 'theodor6@yahoo.com', 'M', 0, datetime.date(1986, 1, 2))
(55, 'Cally', 'Scamwell', 'cally6@uol.com', 'F', 0, datetime.date(1985, 7, 31))
(56, 'Ragnar', 'Crabtree', 'ragnar7@uol.com', 'M', 1, datetime.date(1980, 8, 5))
(57, 'Augusta', 'Rawlingson', 'augusta9@hotmail.com', 'F', 0, datetime.date(1997, 6, 5))
(58, 'Pamella', 'Paquet', 'pamella3@uol.com', 'F', 2, datetime.date(1995, 11, 9))
(59, 'Yankee', 'Hovie', 'yankee9@hotmail.com', 'M', 3, datetime.date(1976, 6, 7))
(60, 'Nonna', 'Salamon', 'nonna1@hotmail.com', 'F', 3, datetime.date(1992, 1, 5))
(61, 'Sanford', 'Mager', 'sanford3@globo.com', 'M', 0, datetime.date(1957, 1, 27))
(62, 'Madison', 'Labern', 'madison1@gmail.com', 'M', 0, datetime.date(1981, 4, 1))
(63, 'Emmaline', 'Doelle', 'emmaline10@uol.com', 'F', 0, datetime.date(1997, 8, 28))
(64, 'West', 'Dauby', 'west3@gmail.com', 'M', 0, datetime.date(1967, 1, 23))
(65, 'Zilvia', 'Kummerlowe', 'zilvia10@uol.com', 'F', 2, datetime.date(1963, 10, 26))
(66, 'Rozina', 'Brookshaw', 'rozina6@gmail.com', 'F', 0, datetime.date(1941, 2, 14))
(67, 'Gary', 'Bush', 'gary7@globo.com', 'M', 1, datetime.date(1943, 11, 28))
(68, 'Peyton', 'Jee', 'peyton5@globo.com', 'M', 3, datetime.date(2000, 2, 26))
(69, 'Chilton', 'Simkovich', 'chilton9@globo.com', 'M', 4, datetime.date(1980, 12, 22))
(70, 'Tildi', 'Dishmon', 'tildi7@yahoo.com', 'F', 0, datetime.date(1943, 5, 4))
(71, 'Rees', 'Broome', 'rees3@yahoo.com', 'M', 0, datetime.date(1996, 7, 16))
(72, 'Nancee', 'Rickcord', 'nancee8@hotmail.com', 'F', 0, datetime.date(2000, 10, 2))
(73, 'Bernardine', 'Mochan', 'bernardine5@hotmail.com', 'F', 4, datetime.date(1982, 5, 30))
(74, 'Kasper', 'Frusher', 'kasper2@globo.com', 'M', 0, datetime.date(1969, 1, 6))
(75, 'Ricky', 'Belsham', 'ricky7@gmail.com', 'F', 0, datetime.date(1989, 11, 12))
(76, 'Raychel', 'Zorzutti', 'raychel4@gmail.com', 'F', 3, datetime.date(1963, 6, 29))
(77, 'Vinni', 'Hirschmann', 'vinni6@yahoo.com', 'F', 0, datetime.date(1979, 12, 12))
(78, 'Immanuel', 'Wilmot', 'immanuel6@uol.com', 'M', 0, datetime.date(1967, 2, 27))
(79, 'Ernie', 'MacClure', 'ernie7@uol.com', 'M', 0, datetime.date(1989, 11, 1))
(80, 'Rafaello', 'Stilldale', 'rafaello5@globo.com', 'M', 2, datetime.date(1972, 10, 25))
(81, 'Aurea', 'Whyman', 'aurea3@gmail.com', 'F', 0, datetime.date(1958, 4, 6))
(82, 'Hadrian', 'Kervin', 'hadrian6@uol.com', 'M', 0, datetime.date(1985, 1, 10))
(83, 'Umeko', 'Vanacci', 'umeko9@gmail.com', 'F', 0, datetime.date(1972, 4, 9))
(84, 'Alysia', 'Hopfner', 'alysia5@uol.com', 'F', 0, datetime.date(1962, 9, 18))
(85, 'Denise', 'Curteis', 'denise6@uol.com', 'F', 0, datetime.date(1997, 1, 15))
(86, 'Hugues', 'Yardley', 'hugues9@hotmail.com', 'M', 2, datetime.date(1989, 5, 18))
(87, 'Josephine', 'McKeller', 'josephine4@globo.com', 'F', 4, datetime.date(1942, 8, 26))
(88, 'Lancelot', 'Loffel', 'lancelot4@gmail.com', 'M', 0, datetime.date(1966, 8, 6))
(89, 'Anne', 'Huerta', 'anne1@uol.com', 'F', 1, datetime.date(1940, 8, 17))
(90, 'Corella', 'Kilcoyne', 'corella5@uol.com', 'F', 0, datetime.date(1977, 7, 27))
(91, 'Nick', 'Jery', 'nick1@hotmail.com', 'M', 1, datetime.date(1944, 7, 15))
(92, 'Nye', 'Wonfor', 'nye5@globo.com', 'M', 0, datetime.date(1942, 3, 3))
(93, 'Rossy', 'Werndley', 'rossy8@gmail.com', 'M', 1, datetime.date(1945, 2, 9))
(94, 'Guillemette', 'Schimank', 'guillemette5@uol.com', 'F', 0, datetime.date(1954, 8, 2))
(95, 'Nari', 'Kenward', 'nari9@gmail.com', 'F', 3, datetime.date(1958, 11, 8))
(96, 'Konstantine', 'Drewett', 'konstantine1@globo.com', 'M', 0, datetime.date(1986, 4, 18))
(97, 'Brewer', 'Brogan', 'brewer1@yahoo.com', 'M', 4, datetime.date(1994, 9, 18))
(98, 'Greg', 'Merwe', 'greg3@uol.com', 'M', 0, datetime.date(1949, 3, 5))
(99, 'Skipp', 'Murby', 'skipp9@hotmail.com', 'M', 0, datetime.date(1966, 7, 7))
(100, 'Serge', 'Shearstone', 'serge9@uol.com', 'M', 1, datetime.date(1991, 1, 25))